@page "/ux"

<PageTitle>UX</PageTitle>
<section>
    <div class="auto-grid">
        <div>
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>

        </div>
        <div>
            <button class="primary">Primary Button</button>
            <button class="secondary">Secondary Button</button>
            <button class="accent">Accent Button</button>
            <button class="contrast">Contrast Button</button>
            <button class="harmony">Harmony Button</button>
        </div>
    </div>

</section>
<section>
    <div class="auto-grid">
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div>
            <button class="primary">Primary Button</button>
            <button class="secondary">Secondary Button</button>
            <button class="accent">Accent Button</button>
            <button class="contrast">Contrast Button</button>
            <button class="harmony">Harmony Button</button>
        </div>
        <div>
            Empty
        </div>

    </div>

</section>
<section>
    <div class="auto-grid">
        <form>
            <input type="text" value="" placeholder="Text" />
            <br />
            <input type="password" value="Password" placeholder="Password" />
            <br />
            <input type="button" value="Button" />
            <br />
            <input type="button" value="Button" />
            <br />
            <input type="checkbox" />
            <br />
            <input type="radio" value="radio1" name="radio" />
            <input type="radio" value="radio2" name="radio" />
            <br />
            <input type="button" value="Button" />
            <br />

            <select>
                <option>Select option</option>
                <option>Male</option>
                <option>Female</option>
            </select>
            <br />
            <textarea rows="5" cols="100">          

            </textarea>
            <br />

        </form>    



    </div>

</section>
<section>
    <div>


    </div>
</section>