@page "/register"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]
@* @attribute [ExcludeFromInteractiveRouting] *@

<PageTitle>Register</PageTitle>

<h1>Register</h1>
<p>Create a new account.</p>
<hr />

@if (!string.IsNullOrWhiteSpace(Status))
{
    <p class="text-success">@Status</p>
}

@if (!string.IsNullOrWhiteSpace(Error))
{
    <p class="text-danger">@Error</p>
}

<form method="post" action="/account/register">
    <AntiforgeryToken />
    <input type="hidden" name="ReturnUrl" value="@NormalizedReturnUrl" />

    <div class="form-floating mb-3">
        <input id="email" name="Email" class="form-control" type="email" autocomplete="username" aria-required="true" placeholder="name@example.com" required />
        <label class="form-label" for="email">Email</label>
    </div>

    <div class="form-floating mb-3">
        <input id="password" name="Password" class="form-control" type="password" autocomplete="new-password" aria-required="true" placeholder="password" minlength="6" required />
        <label class="form-label" for="password">Password</label>
    </div>

    <div class="form-floating mb-3">
        <input id="confirm-password" name="ConfirmPassword" class="form-control" type="password" autocomplete="new-password" aria-required="true" placeholder="password" minlength="6" required />
        <label class="form-label" for="confirm-password">Confirm password</label>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>

    <hr />
    <a class="" href="@loginUrl">Back to log in</a>
</form>

@code {
    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    [SupplyParameterFromQuery]
    private string? Error { get; set; }

    [SupplyParameterFromQuery]
    private string? Status { get; set; }

    private string NormalizedReturnUrl => string.IsNullOrWhiteSpace(ReturnUrl) ? "/" : ReturnUrl;

    private string loginUrl => $"/login?returnUrl={Uri.EscapeDataString(NormalizedReturnUrl)}";
}
