@using Goke.Web.Components.Pages.Admin
@implements IDisposable

@inject NavigationManager NavigationManager



<div class="navbar container-fluid">
    <div class="">
        <a class="navbar-brand" href="">Goke</a>
    </div>

    <input type="checkbox" title="Navigation menu" id="navbar-toggler" class="navbar-toggler" />
    <label for="navbar-toggler" class="navbar-toggler-icons" aria-controls="primary-navigation">
        <span class="sr-only">Menu</span>
        <svg class="menu-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
             stroke-linejoin="round">
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
        <svg class="close-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
             stroke-linejoin="round">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
    </label>

    <nav class="primary-navigation" onclick="document.querySelector('.navbar-toggler').click()">
        <ul role="list" class="nav-list">
            <li>
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </li>

            <li>
                <NavLink class="nav-link" href="counter">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
                </NavLink>
            </li>

            <li>
                <NavLink class="nav-link" href="weather">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                </NavLink>
            </li>

            <li>
                <NavLink class="nav-link" href="auth">
                    <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
                </NavLink>
            </li>

            <li class="dropdown | ">
                <a>
                    Account
                    <span>
                        <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path d="M5.293 9.293a1 1 0 0 1 1.414 0L12 14.586l5.293-5.293a1 1 0 1 1 1.414 1.414l-6 6a1 1 0 0 1-1.414 0l-6-6a1 1 0 0 1 0-1.414z" fill="#0D0D0D"></path>
                            </g>
                        </svg>
                    </span>
                </a>
                <ul>
                    <AuthorizeView Roles="Administrators" >
                        <Authorized>
                            <li>
                                <NavLink class="nav-link" href="user-roles">
                                    <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> User Roles
                                </NavLink>
                            </li>
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView>
                        <Authorized>
                            <li>
                                <NavLink class="nav-link" href="Account/Manage">
                                    <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                                </NavLink>
                            </li>
                            <li>
                                <form action="Account/Logout" method="post">
                                    <AntiforgeryToken />
                                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                    <button type="submit" class="nav-link">
                                        <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                                    </button>
                                </form>
                            </li>
                        </Authorized>
                        <NotAuthorized>
                            <li>
                                <NavLink class="nav-link" href="Account/Register">
                                    <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                                </NavLink>
                            </li>
                            <li>
                                <NavLink class="nav-link" href="Account/Login">
                                    <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                                </NavLink>
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>
                </ul>
            </li>

            
        </ul>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

